@model JustSellIt.Application.ViewModels.Product.NewOrEditProductVm

@{
    ViewData["Title"] = "AddProduct";
    var title = Model.Action == "AddProduct" ? "Dodaj ogłoszenie!" : "Edytuj ogłoszenie!";
}

<div class="add-title form-inline mt-4">
    <i class="fas fa-tag form-inline"></i><h1 class="ml-4">@title</h1>
</div>
<hr />

<partial name="_AlertPanel" />

<div class="row">
    <div class="col-md-12 mt-3">
        <form asp-action="@Model.Action" asp-route-id="@Model.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="add-section">
                <div class="add-subtitle mt-2 mb-2">
                    <i class="fas fa-dolly" style="font-size:30px;"></i>
                    <span>Informacje o produkcie</span>
                    <hr />
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <div class="add-caption">
                                <label class="control-label">Tytuł<span class="add-required">*</span></label>
                            </div>
                            <input placeholder="Produkt" asp-for="Title" class="form-control add-field" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Dobierz odpowiedni tytuł do swojego produktu. Prosimy, nie pisz WIELKIMI LITERAMI." />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 col-sm-12 add-price mt-3">
                            <div class="add-caption">
                                <label class="control-label">Cena<span class="add-required">*</span></label>
                            </div>
                            <div class="input-group">
                                <input placeholder="1 000,00" asp-for="Price" class="form-control add-field" autocomplete="off" />
                                <div class="input-group-append">
                                    <span class="input-group-text">zł</span>
                                </div>
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 mt-5 add-negotiate">
                            <span class="add-text">Do negocjacji</span>
                            <label class="switch ml-4">
                                <input type="checkbox" asp-for="IsNegotiate">
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="col-md-12 mt-5 add-status btn-status">
                            <span class="add-text">Stan</span>
                            @if (Model.IsNew)
                            {
                                <input type="button" id="used" value="Używane" class="ml-3 btn btn-unchecked" onclick="setUsed(this)" />
                                <input type="button" id="new" value="Nowe" class="ml-3 btn btn-checked" onclick="setNew(this)" />
                            }
                            else
                            {
                                <input type="button" id="used" value="Używane" class="ml-3 btn btn-checked" onclick="setUsed(this)" />
                                <input type="button" id="new" value="Nowe" class="ml-3 btn btn-unchecked" onclick="setNew(this)" />
                            }
                            <input id="status" type="hidden" class="form-check-input add-checkbox" asp-for="IsNew" />
                        </div>

                        <div class="col-md-12 mt-5">
                            <span class="add-text">Kategoria<span class="add-required">*</span></span>
                            <div class="add-category mt-1" data-toggle="modal" data-target="#selectCategoryModal">
                                @if (Model.CategoryImage != null)
                                {
                                    <img id="categoryImg" alt="Categories" src="@Model.CategoryImage" />
                                    <span class="ml-lg-4">@Model.CategoryName</span>
                                }
                                else
                                {
                                    <img id="categoryImg" alt="Categories" src="/images/categories/categories.png" />
                                    <span class="ml-lg-4">Wybierz kategorię...</span>
                                }
                            </div>
                            <input id="category" type="hidden" asp-for="CategoryId" />
                            <input id="categoryImage" type="hidden" asp-for="CategoryImage" />
                            <input id="categoryName" type="hidden" asp-for="CategoryName" />
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="col-md-12">
                            <div class="add-caption">
                                <label class="control-label">Opis<span class="add-required">*</span></label>
                            </div>
                            <textarea placeholder="Sprzedam produkt..." asp-for="Description" class="form-control add-field" rows="7" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Opisz szczegółowo, co oferujesz. To ważne, ponieważ dobrze opisane oferty dostają więcej odpowiedzi. Nie używaj wulgaryzmów i WIELKICH LITER."></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mt-4">
                            <span class="add-text ml-3">Zdjęcia</span>
                            <div class="col-12 mt-2 row ml-0">
                                <div id="imageDiv1" class="add-upload-main col-4">
                                    <div id="loaderImg1" class="spinner-grow image-loader-main" role="status" style="display:none;">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <img class="cover" id="image1" height="110" width="200" src="" style="position:absolute;top:0px;left:0px;display:none;" />
                                    <i class="fas fa-home main-icon"></i>
                                    <span>To będzie twoje zdjęcie główne</span>
                                    <i id="deleteImage1" class="fas fa-times delete-icon" style="display:none;"></i>
                                </div>
                                <div id="imageDiv2" class="add-upload col-4 offset-1">
                                    <div id="loaderImg2" class="spinner-grow image-loader-sub d-none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <img id="image2" height="110" width="200" src="" style="position:absolute;top:0px;left:0px;display:none;" />
                                    <i class="fas fa-camera"></i>
                                    <i id="deleteImage2" class="fas fa-times delete-icon" style="display:none;"></i>
                                </div>
                            </div>
                            <div class="col-md-12 mt-5 row ml-0 add-images">
                                <div id="imageDiv3" class="add-upload col-4">
                                    <div id="loaderImg3" class="spinner-grow image-loader-sub d-none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <img id="image3" height="110" width="200" src="" style="position:absolute;top:0px;left:0px;display:none;" />
                                    <i class="fas fa-camera"></i>
                                    <i id="deleteImage3" class="fas fa-times delete-icon" style="display:none;"></i>
                                </div>
                                <div id="imageDiv4" class="add-upload col-4  offset-1">
                                    <div id="loaderImg4" class="spinner-grow image-loader-sub d-none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <img id="image4" height="110" width="200" src="" style="position:absolute;top:0px;left:0px;display:none;" />
                                    <i class="fas fa-camera"></i>
                                    <i id="deleteImage4" class="fas fa-times delete-icon" style="display:none;"></i>
                                </div>
                            </div>
                            <input type="file" id="inpImage1" accept="image/*" hidden="hidden" />
                            <input type="file" id="inpImage2" accept="image/*" hidden="hidden" oninput="image2.src=window.URL.createObjectURL(this.files[0])" />
                            <input type="file" id="inpImage3" accept="image/*" hidden="hidden" oninput="image3.src=window.URL.createObjectURL(this.files[0])" />
                            <input type="file" id="inpImage4" accept="image/*" hidden="hidden" oninput="image4.src=window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-section mt-4">
                <div class="add-subtitle mt-2 mb-2">
                    <i class="fas fa-user" style="font-size:30px;"></i>
                    <span>Dane kontaktowe</span>
                    <hr />
                </div>
                <div class="add-user-profile">
                    <img src="/images/sex/man.png" alt="avatar" />
                </div>
                <div class="row mb-4">
                    <div class="col-md-4 offset-md-1">
                        <div class="add-caption">
                            <label class="control-label">Lokalizacja<span class="add-required">*</span></label>
                        </div>
                        @*TO DO - pobrać deafultowe miasto od użytkownika*@
                        @{ var locationValue = Model.Location ?? "Wrocław"; }
                        <input asp-for="Location" value="@locationValue" class="form-control add-field" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Wpisz nazwe miejscowości, a następnie wybierz ją z listy. " />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 offset-md-2">
                        <div class="add-caption">
                            <label class="control-label">Imię<span class="add-required">*</span></label>
                        </div>
                        @*TO DO - na sztywno póki co*@
                        <input value="Jan" class="form-control add-field" autocomplete="off" readonly data-toggle="tooltip" data-placement="right" title="Twoje imię możesz zmienić w ustawieniach." />
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <div class="add-caption">
                            <label class="control-label">Adres e-mail<span class="add-required">*</span></label>
                        </div>
                        @*TO DO - na sztywno póki co*@
                        <input value="jan99@gmail.pl" class="form-control add-field" autocomplete="off" readonly data-toggle="tooltip" data-placement="right" title="Twój adres e-mail możesz zmienić w ustawieniach." />
                    </div>
                    <div class="col-md-4 offset-md-2">
                        <div class="add-caption">
                            <label class="control-label">Numer telefonu<span class="add-required">*</span></label>
                        </div>
                        @*TO DO - pobrać deafultowy numer od użytkownika*@
                        @{ var phoneValue = Model.PhoneContact ?? "666486954"; }
                        <input asp-for="PhoneContact" value="@phoneValue" class="form-control add-field" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Podaj swój numer telefonu, aby inni użytkownicy mogli sie z tobą skontaktować." />
                        <span asp-validation-for="PhoneContact" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*TO DO - owner na sztywno póki co*@
            <input type="hidden" asp-for="OwnerId" value="5" />
            <input type="hidden" asp-for="ProductStatusId" />

            @{
                if (Model.Action == "AddProduct")
                {
                    <div class="form-group form-check mt-4">
                        <label class="form-check-label">
                            <input class="form-check-input add-checkbox" asp-for="StorePolicy" /> <span class="add-storePolicy">Wyrażam zgodę na używanie przez Grupę JustSellIt środków komunikacji elektronicznej oraz telekomunikacyjnych urządzeń końcowych w celu przesyłania mi informacji handlowych oraz prowadzenia marketingu (np. newsletter) przez Grupę JustSellIt, podmioty powiązane i partnerów biznesowych. Moja zgoda obejmuje numery telefonów i adresy e-mail wykorzystywane podczas korzystania z usług Grupy JustSellIT. Wyrażoną zgodę można wycofać lub ograniczyć w dowolnej chwili za pomocą odpowiednich ustawień konta lub zgłaszając nam takie żądanie.</span><span class="add-required">*</span>
                        </label>
                        <span asp-validation-for="StorePolicy" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <input asp-for="StorePolicy" type="hidden" />
                }
            }
            <div class="spinner-grow submit-form-loader" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="form-group mt-4 float-md-right text-center">
                @{ if (Model.Action == "AddProduct")
                    {
                        <input type="submit" asp-route-businessAction="publish" value="Dodaj" class="btn btn-submit-sm mb-3" />
                        <input type="submit" asp-route-businessAction="draft" value="Zapisz jako wersja robocza" class="btn add-btn mb-3" />
                    }
                    else
                    {
                        <input value="Aktualizuj" class="btn btn-submit-sm mb-3" data-toggle="modal" data-target="#editModalPublish" readonly />
                        <input value="Zapisz jako wersja robocza" class="btn add-btn mb-3" data-toggle="modal" data-target="#editModalDraft" readonly />
                    }
                }
            </div>

            <div id="selectCategoryModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Wybierz kategorię</h4><i class="fas fa-times-circle" data-dismiss="modal" style="cursor:pointer; font-size:24px;"></i>
                        </div>
                        <div class="modal-body">
                            <div class="row mt-0 category d-inline-flex" style="box-shadow:none;">
                                @{foreach (var category in Model.Categories)
                                    {
                                        <div class="col-6 col-sm-4 col-md-3 mt-4 category-item" data-name="@category.Name" data-id="@category.Id" data-img="@category.Image" onclick="selectCategory(this)">
                                            <div class="category-item-img" style="background-color:@category.ColorHex;">
                                                <img src="/images/categories/@category.Image" alt="@category.Name" />
                                            </div>
                                            <div class="mt-3">
                                                <span>@category.Name</span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="editModalDraft" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Czy chcesz zapisać edycje jako wersje roboczą?</h4>
                        </div>
                        <div class="modal-body">
                            Spowoduje to, że ogłoszenie <span class="font-weight-bold">@Model.Title</span> zostanie zdjęte z tablicy.
                        </div>
                        <div class="modal-footer">
                            <button type="submit" asp-route-businessAction="draft" class="btn btn-success">Zapisz jako wersja robocza</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="editModalPublish" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Czy chcesz zaktualizować ogłoszenie?</h4>
                        </div>
                        <div class="modal-body">
                            Jeśli ogłoszenie <span class="font-weight-bold">@Model.Title</span> było zweryfikowane, automatycznie zostanie zdjęte z tablicy do momentu ponownej weryfikacji.
                        </div>
                        <div class="modal-footer">
                            <button type="submit" asp-route-businessAction="publish" class="btn btn-success">Publikuj</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/autosize.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function setNew(button) {
            $(button).addClass("btn-checked");
            $("#used").removeClass("btn-checked");
            $('#status').val("true")
        }
        function setUsed(button) {
            $(button).addClass("btn-checked");
            $("#new").removeClass("btn-checked");
            $('#status').val("false")
        }

        function selectCategory(category) {
            $('#selectCategoryModal').modal('hide')
            $('.add-category span').text($(category).data('name'))
            $('#categoryImg').attr("src", "/images/categories/" + $(category).data('img'))
            $('#category').val($(category).data('id'))
            $('#categoryImage').val("/images/categories/" + $(category).data('img'))
            $('#categoryName').val($(category).data('name'))
        }

        $('#imageDiv1').on('click', function () {
            showFileDialogIfEmpty(1);
        });
        $('#inpImage1').on('change', function () {
            $('#loaderImg1').show();
            image1.src = window.URL.createObjectURL(this.files[0]);
            addImage(1);
        });
        $('#deleteImage1').on('click', function (e) {
            deleteImage(1);
        });

        $('#imageDiv2').on('click', function () {
            showFileDialogIfEmpty(2);
        });
        $('#inpImage2').on('change', function () {
            addImage(2);
        });
        $('#deleteImage2').on('click', function (e) {
            deleteImage(2);
        });

        $('#imageDiv3').on('click', function () {
            showFileDialogIfEmpty(3);
        });
        $('#inpImage3').on('change', function () {
            addImage(3);
        });
        $('#deleteImage3').on('click', function (e) {
            deleteImage(3);
        });

        $('#imageDiv4').on('click', function () {
            showFileDialogIfEmpty(4);
        });
        $('#inpImage4').on('change', function () {
            addImage(4);
        });
        $('#deleteImage4').on('click', function (e) {
            deleteImage(4);
        });


        function showFileDialogIfEmpty(index) {
            if ($("#image" + index).css('display') == 'none') {
                $('#inpImage' + index).click();
            }
        }
        function addImage(index) {
            $('#imageDiv' + index).css('cursor', 'auto');
            $('#image' + index).show();
            $('#deleteImage' + index).show();
        }
        function deleteImage(index) {
            $("#inpImage" + index).val('');
            $('#imageDiv' + index).css('cursor', 'pointer');
            $('#deleteImage' + index).hide();
            setTimeout(
                function () {
                    $('#image' + index).hide();
                    $('#image' + index).attr('src', '')
                }, 100);
        }

        autosize(document.querySelectorAll('textarea'));

    </script>
}
