@model JustSellIt.Application.ViewModels.Product.ListProductForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista ogłoszeń</h1>
<hr />

<partial name="_AlertPanel" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" asp-controller="Product" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" id="searchString" />
        <input type="submit" id="submitSearch" value="wyszukaj" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }) |
                        @Html.ActionLink("Details", "ViewProduct", new { productId = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_Pagination" />

    <input type="hidden" asp-for="ActualPage" id="actualPage" />
    <input type="hidden" asp-for="PageSize" id="pageSize" />
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            $("#actualPage").val(index);
            $("#submitSearch").click();
        }
    </script>
}