@model JustSellIt.Application.ViewModels.Product.ListProductForListVm

@{
    ViewData["Title"] = "Index";
}






<form asp-action="Index" asp-controller="Product" method="post">

    <div class="search mt-4">
        <div class="input-group">
            <i class="fas fa-search input-icon"></i>
            <input type="text" asp-for="SearchString" id="searchString" class="form-control input-search-title" autocomplete="off" placeholder="Tutaj wpisz co cię interesuje..." />
            <div class="input-group-append">
                <i class="fas fa-map-marker-alt input-icon"></i>
                <input type="text" placeholder="Cała Polska" class="form-control input-search-location" />
            </div>
            <div class="input-group-append">
                <button type="submit" id="submitSearch" value="Szukaj" class="btn btn-search">Szukaj <i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>

        <div class="category mt-5 pt-4 pb-5">

            <h1 class="add-title" style="font-weight:bold;">Kategorie główne</h1>

            <div class="row mt-4">
                @{foreach (var category in Model.Categories)
                    {
                        <div class="col-6 col-sm-3 col-md-2 mt-4 category-item">
                            <div class="category-item-img" style="background-color:@category.ColorHex;">
                                <img src="/images/categories/@category.Image" alt="@category.Name" />
                            </div>
                            <div class="mt-3">
                                <span>@category.Name</span>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }) |
                        @Html.ActionLink("Details", "ViewProduct", new { productId = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_Pagination" />

    <input type="hidden" asp-for="ActualPage" id="actualPage" />
    <input type="hidden" asp-for="PageSize" id="pageSize" />
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            $("#actualPage").val(index);
            $("#submitSearch").click();
        }
    </script>
}