@model JustSellIt.Application.ViewModels.Product.ProductDetailsVm
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> _userManager
@using JustSellIt.Application.ViewModels.Base
@{
    ViewData["Title"] = "Szczegóły ogłoszenia";
}

<div class="direction-details mt-4">
    <i class="fas fa-chevron-left" onclick="goBack()">&nbsp;&nbsp;WRÓĆ</i><span class="ml-3">@Model.Category &nbsp;&nbsp;->&nbsp;&nbsp; @Model.Location &nbsp;&nbsp;->&nbsp;&nbsp; @Model.Title</span>
</div>
<div class="row mb-4 mt-3">
    <div class="col-xl-7 col-lg-6 pr-lg-5">
        <div class="row">
            <div class="col-12 product-details-images mb-2 text-center">
                <div class="col-12">
                    @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString($"favourite_{Model.Id}")))
                    {
                        <i id="favourite_@Model.Id" onclick="updateFavourite(@Model.Id);" class="far fa-heart"></i>
                    }
                    else
                    {
                        <i id="favourite_@Model.Id" onclick="updateFavourite(@Model.Id);" class="fas fa-heart favourite"></i>
                    }
                    @if (Model.Images.Count() > 0)
                    {
                        <i id="previousImage" class="fas fa-chevron-left" style="display:none;"></i>
                        <img data-toggle="modal" data-target="#imageCarousel" id="imageView" class="img-fluid" src="@Model.Images[0]" alt="@Model.Title image" />
                        if (Model.Images.Count() > 1)
                        {
                            <i id="nextImage" class="fas fa-chevron-right"></i>
                        }
                        else
                        {
                            <i id="nextImage" class="fas fa-chevron-right" style="display:none;"></i>
                        }
                    }
                    else
                    {
                        <img id="imageView" class="img-fluid" src="~/images/other/none.png" alt="@Model.Title image" style="cursor:default;" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-6 product-details-contact pt-4 mb-2 order-lg-2 order-3">
        <div class="row">
            <div class="col-lg-5 offset-lg-0 col-4 offset-md-2 offset-1 pl-4 user-image">
                @if (Model.AvatarUrl != null)
                {
                    <img src="@Model.AvatarUrl" class="avatar" alt="@Model.Owner avatar" />
                }
                else if (Model.SexId == (int)SexType.Male)
                {
                    <img src="~/images/sex/man.png" class="avatar" alt="@Model.Owner avatar" />
                }
                else
                {
                    <img src="~/images/sex/woman.png" class="avatar" alt="@Model.Owner avatar" />
                }
            </div>
            <div class="col-6 offset-md-0 offset-1 border-left mt-2 user-info">
                <p class="username mb-0">@Model.Owner</p>
                <p class="user-date">Zarejstrowany od @Model.OwnerCreateDate.ToString("dd/MM/yyyy")</p>
                <p class="location"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;@Model.Location</p>
            </div>
            <div class="col-12 mt-5 mb-lg-0 mb-4 text-center user-btns">
                <a href="@Url.Action("GetOwnerProducts", "Product", new { id = Model.OwnerId })" class="user-products">Ogłoszenia użytkownika</a>
                <a class="contact-btn" id="showContact" onclick="contact(@Model.Id);">Zadzwoń</a>
            </div>
        </div>
    </div>

    @{ if (!String.IsNullOrEmpty(Model.RejectionReason))
        {
            <div class="col-12 order-2 alert-danger mt-2 pt-3 pb-3 pl-4">
                <span class="float-left">Powód odrzucenia: "@Model.RejectionReason"</span>
            </div>
        }
    }

<div class="col-12 pl-4 mt-3 mb-4 mb-lg-0 product-details-info order-lg-3 order-2">
    @{
        if (Model.Status != "Published")
        {
            switch (Model.Status)
            {
                case "Rejected":
                    <div class="info-rejected">Odrzucone</div>
                    break;
                case "ForVeryfication":
                    <div class="info-veryfication">W trakcie weryfikacji</div>
                    break;
                case "Draft":
                    <div class="info-draft">Wersja robocza</div>
                    break;
            }
        }
    }
    <p class="mt-4 title">@Model.Title</p>
    @if (Model.Price == 0)
    {
        <p class="price mt-4">Cena: Oddam</p>
    }
    else
    {
        <p class="price mt-4">Cena: @Model.Price zł</p>
    }
    @{
        var negotiate = @Model.IsNegotiate ? "Tak" : "Nie";
        var state = @Model.IsNew ? "Nowe" : "Używane";
    }

    <p class="btn-info-details">@Model.Category</p>
    <p class="btn-info-details">Do negocjacji: @negotiate</p>
    <p class="btn-info-details">Stan: @state</p>

    <p class="nameField mt-3">Opis</p>
    <p class="description">@Model.Description</p>
    <div class="col-12 data-border"></div>
    <p class="date">Data dodania:&nbsp;&nbsp;&nbsp;@Model.CreateDate.ToString("dd/MM/yyyy")</p>
    @if (Model.UserGuid == _userManager.GetUserId(User))
    {
        <div class="product-manage">
            <h4 class="mb-3">Zarządzaj ogłoszeniem&nbsp;&nbsp;<i class="fas fa-cogs"></i></h4>
            <a asp-action="EditProduct" asp-route-id="@Model.Id" class="btn btn-edit">Edytuj</a>
            <a data-toggle="modal" data-target="#deleteModal" class="btn btn-delete">Usuń</a>
        </div>
    }
</div>

    @if (Context.User.HasClaim("AdminManage", "AdminManage"))
    {
        <partial name="_ManagePanel" />
    }


</div>



<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Usuwanie</h4>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć ogłoszenie <span class="font-weight-bold">@Model.Title</span>, spowoduje to nieodwracalne zdjęcie ogłoszenia z tablicy?
            </div>
            <div class="modal-footer">
                <a asp-action="DeleteProduct" asp-route-id="@Model.Id" class="btn btn-success">Potwierdź</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>

<div id="imageCarousel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < Model.Images.Length; i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Images.Length; i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img class="d-block w-100 imageModal" src="@Model.Images[0]" alt="1 slide">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img class="d-block w-100 imageModal" src="@Model.Images[i]" alt="@i++ slide">
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="modal-footer imageListModal">
                @for (int i = 0; i < Model.Images.Length; i++)
                {
                    <img onclick="changeImage(@i)" src="@Model.Images[i]" alt="Image List @i" />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
        function changeImage(index) {
            $('#imageCarousel').carousel(index);
        }
        var images = [];
         @foreach (var image in Model.Images)
         {
            @:images.push("@image");
         }
        var indexImage = 0;


        $('#nextImage').on('click', function () {
            indexImage++;
            $('#imageView').attr('src', images[indexImage]);
            $('#previousImage').show();
            if (indexImage >= images.length - 1)
                $('#nextImage').hide();
        });
        $('#previousImage').on('click', function () {
            indexImage--;
            $('#imageView').attr('src', images[indexImage]);
            $('#nextImage').show();
            if (indexImage == 0)
                $('#previousImage').hide();
        });

    </script>
    <script type="text/javascript">
        function contact(productId) {
            $.ajax({
                url: '/Product/GetContactInfo',
                data: { id: productId },
                type: 'GET',
                dataType: 'json',
                success: function (json) {
                    $("#showContact").css('cursor', 'default');
                    $("#showContact").css('background-color', 'var(--main-color)');
                    $("#showContact").html(json.data);
                },
                error: function (xhr, status) {
                    alert('Przepraszamy, wystąpił problem!');
                },
                complete: function (xhr, status) {
                }
            });
        }
        function updateFavourite(productId, e) {
            event.preventDefault();
            if (!$('#favourite_' + productId).hasClass("favourite")) {
                $.ajax({
                    type: "POST",
                    url: "/Product/AddFavourite",
                    dataType: "json",
                    data: {
                        productId: productId
                    },
                    success: function (data) {
                        $('#favourite_' + productId).addClass("favourite");
                        $('#favourite_' + productId).removeClass("far");
                        $('#favourite_' + productId).addClass("fas");
                        $('#favouriteNumber').html(data.favouriteNumber);
                    }
                })
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Product/RemoveFavourite",
                    dataType: "json",
                    data: {
                        productId: productId
                    },
                    success: function (data) {
                        $('#favourite_' + productId).removeClass("favourite");
                        $('#favourite_' + productId).removeClass("fas");
                        $('#favourite_' + productId).addClass("far");
                        $('#favouriteNumber').html(data.favouriteNumber);
                    }
                })
            }
        }
    </script>
}