@model JustSellIt.Application.Interfaces.IAdvancedSearch

@{
    List<SelectListItem> items = Model.Categories.ConvertAll(x =>
    {
        return new SelectListItem()
        {
            Text = x.Name.ToString(),
            Value = x.Id.ToString(),
            Selected = false
        };
    });
}

<div class="advancedSearchPanel mt-5">
    <h4><i class="fas fa-filter" style="font-size:20px"></i> Filtry</h4>
    <hr />
    <div class="filters">
        <div class="cat">
            <span class="label">Kategoria</span>
            <select id="catAdvancedSearch" class="form-control mt-2" asp-for="@Model.SearchCategory" asp-items="@items" onchange="ShowButton();">
                <option value="null" selected>Wszystkie</option>
            </select>
        </div>
        <div class="price-min">
            <span class="label">Cena</span>
            <div class="input-group mt-2">
                <input id="minPriceAdvancedSearch" asp-for="@Model.SearchMinPrice" type="number" class="form-control" placeholder="Od" autocomplete="off" min="0" onchange="ShowButton();" />
                <div class="input-group-append">
                    <span class="input-group-text">zł</span>
                </div>
            </div>
        </div>
        <div class="price-max">
            <div class="input-group mt-2">
                <input id="maxPriceAdvancedSearch" asp-for="@Model.SearchMaxPrice" type="number" class="form-control" placeholder="Do" autocomplete="off" min="0" onchange="ShowButton();" />
                <div class="input-group-append">
                    <span class="input-group-text">zł</span>
                </div>
            </div>
        </div>
        <div class="condition">
            <span class="label">Stan</span>
            <select id="conditionAdvancedSearch" class="form-control mt-2 " asp-for="@Model.SearchCondition" onchange="ShowButton();">
                <option value="all" selected>Wszystkie</option>
                <option value="new">Nowe</option>
                <option value="used">Używane</option>
            </select>
        </div>
        <div class="sort">
            <span class="label">Sortuj</span>
            <select id="sortAdvancedSearch" class="form-control mt-2 " asp-for="@Model.Sorting" onchange="ShowButton();">
                <option value="new" selected>Najnowsze</option>
                <option value="desc">Cena malejąco</option>
                <option value="asc">Cena rosnąco</option>
            </select>
        </div>
    </div>
    <div class="mt-5 text-center">
        <a id="buttonConfirm" class="btn-confirm-search" onclick="SearchProducts();">Zastosuj</a>
    </div>
</div>


<script type="text/javascript">
    if ($('#catAdvancedSearch').val() == 12) {
        $('.price-min').hide();
        $('.price-max').hide();
    }
    else {
        $('.price-min').show();
        $('.price-max').show();
    }
    $('#catAdvancedSearch').on('change', function () {
    /*Oddam*/
        if ($('#catAdvancedSearch').val() == 12) {
            $('.price-min').hide();
            $('.price-max').hide();
        }
        else {
            $('.price-min').show();
            $('.price-max').show();
        }
    });
    function ShowButton() {
        $("#buttonConfirm").css("display", "inline");
    }
    function SearchProducts() {
        $("#submitSearch").click();
    }
</script>