@model JustSellIt.Application.Interfaces.IProductList
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor


<div class="row">
    @{foreach (var product in Model.Products)
        {
            <div class="col-sm-6  col-md-4 col-lg-3 ml-auto mr-auto mt-4" id="tile_@product.Id">
                <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">
                    <div class="tile">
                        @{
                            if (product.Status != "Published")
                            {
                                switch (product.Status)
                                {
                                    case "Rejected":
                                        <div class="info-tile-rejected">Odrzucone</div>
                                        break;
                                    case "ForVeryfication":
                                        <div class="info-tile-veryfication">W trakcie weryfikacji</div>
                                        break;
                                    case "Draft":
                                        <div class="info-tile-draft">Wersja robocza</div>
                                        break;
                                }
                            }
                        }
                        @if (product.MainImageUrl != null)
                        {
                            <img src="@product.MainImageUrl" alt="@product.Title Image" class="img-fluid mb-3" />
                        }
                        else
                        {
                            <img src="/images/other/none.png" alt="Image product" class="img-fluid mb-3" />
                        }

                        <div class="title">
                            <h3>@product.Title</h3>
                        </div>
                        <span>@product.Location</span><span>@product.CreateDate.ToString("dd/MM/yyyy")</span>
                        <h4>@product.Price zł</h4>
                        @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString($"favourite_{product.Id}")))
                        {
                            <i id="favourite_@product.Id" onclick="updateFavourite(@product.Id);" class="far fa-heart"></i>
                        }
                        else
                        {
                            <i id="favourite_@product.Id" onclick="updateFavourite(@product.Id);" class="fas fa-heart favourite"></i>
                        }
                    </div>
                </a>
            </div>
        }
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function updateFavourite(productId, e) {
        event.preventDefault();
        if (!$('#favourite_' + productId).hasClass("favourite")) {
            $.ajax({
                type: "POST",
                url: "/Product/AddFavourite",
                dataType: "json",
                data: {
                    productId: productId
                },
                success: function (data) {
                    $('#favourite_' + productId).addClass("favourite");
                    $('#favourite_' + productId).removeClass("far");
                    $('#favourite_' + productId).addClass("fas");
                    $('#favouriteNumber').html(data.favouriteNumber);
                }
            })
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Product/RemoveFavourite",
                dataType: "json",
                data: {
                    productId: productId
                },
                success: function (data) {
                    $('#favourite_' + productId).removeClass("favourite");
                    $('#favourite_' + productId).removeClass("fas");
                    $('#favourite_' + productId).addClass("far");
                    $('#favouriteNumber').html(data.favouriteNumber);
                }
            })
        }

        if ($('#searchForm').attr('action') === "/Product/MyFavourites") {
            if (@Model.Products.Count() == 1) {
                var actualPage = $('#actualPage').val();
                $('#actualPage').val(actualPage-1);
            }
            $('#searchForm').submit();
        }
    }
</script>